{% extends "base.html" %}
{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">FACE RECOGNITION</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently
                about what’s most interesting in this post’s contents.</p>
        </div>
    </div>
    <body class="d-flex flex-column min-vh-100">

    <main class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="row g-2">
                    <div class="row g-2 col-md">
                        <div class="col-md">
                            <label for="customRange1" class="form-label">Confidence threshold</label>
                        </div>
                        <div class="col-md">
                            <p id="threshold">1</p>
                        </div>
                    </div>
                    <div class="col-md">
                        <input type="range" class="form-range" min="0" max="1" step="0.01" value="0.8" name="threshold"
                               id="customRange1">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="flexRadioDefault1" value="1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Pretrained model
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="flexRadioDefault2" value="2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Custom model
                    </label>
                </div>
            </div>
            <div class="container col-md-6 py-5">
                <div class="mb-5  ">
                    {{ form.file }}
                    <div class="d-flex bd-highlight justify-content-between">

                        <button onclick="clearImage()" class="btn btn-primary mt-3" id="clearImg">Clear picture</button>
                        <button type="submit" class="btn btn-primary mt-3" style="width: 18%" id="detectImg">Detect
                        </button>
                    </div>
                    {% if src %}
                        <div class="container">
                            <img id="frame" src="data:image/png;base64,{{ src }}" class="img-fluid mx-auto d-block"
                                 alt="predicted-image">
                            <p>Predicted time: {{ predicted_time|floatformat:2 }} seconds</p>
                        </div>
                    {% else %}
                        <img id="frame" src="" class="img-fluid mx-auto d-block"/>
                    {% endif %}
                </div>
            </div>
        </form>
    </main>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script>
        var btn_detect = document.getElementById('detectImg');
        var btn_clearImg = document.getElementById('clearImg');

        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
            disBtn();
        }

        function disBtn() {
            btn_detect.style.display = "inline";
            btn_clearImg.style.display = "inline";
        }

        function initBtn() {
            btn_detect.style.display = "None";
            btn_clearImg.style.display = "None";
        }

        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }

        initBtn();
    </script>
{% endblock %}

{% block footer %}
    <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
{% endblock %}