{% extends "base.html" %}

{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white bg-secondary">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">FACE RECOGNITION</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently
                about what’s most interesting in this post’s contents.</p>
        </div>
    </div>
    <body class="d-flex flex-column min-vh-100">

    <main class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container col-md-7">
                <div class="row g-2">
                    <label for="customRange1" class="form-label">Confidence threshold</label>
                    <div class="col g-2 d-flex justify-content-between">
                        <input type="range" class="form-range d-inline-block me-3" min="0" max="1" step="0.01"
                               value="" name="threshold"
                               id="customRange1">
                        <p id="threshold" class="d-inline-block">1</p>
                    </div>
                </div>
            </div>
            <div class="container col-md-7">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="flexRadioDefault1" value="1" checked onclick="fieldCheck1()">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Pretrained model
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="model" id="flexRadioDefault2" value="2" onclick="fieldCheck2()">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Custom model
                    </label>
                </div>
            </div>
            <div class="container col-md-7 py-4">
                <div class="mb-5">
                    {{ form.file }}
                    <div class="d-flex bd-highlight justify-content-between mb-4">
                        <button onclick="clearImage()" class="btn btn-primary mt-3" id="clearImg">Clear picture</button>
                        <button type="submit" class="btn btn-primary mt-3" style="width: 18%" id="detectImg">Detect
                        </button>
                    </div>
                    <div class="container">
                        {% if src %}
                            <img id="frame" src="data:image/png;base64,{{ src }}" class="img-fluid mx-auto d-block mb-2"
                                 alt="predicted-image">
                            <p id="predicted_time" class="text-center">Predicted time: {{ predicted_time|floatformat:2 }} seconds</p>
                        {% else %}
                            <img id="frame" src="" class="img-fluid mx-auto d-block"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </main>
{% endblock %}

{% block footer %}
    <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
{% endblock %}

{% block scripts %}
    <script>
        let slider = document.getElementById("customRange1");
        let threshold = document.getElementById("threshold");

        let value_threshold = localStorage.getItem('threshold');

        let field1_check = document.getElementById("flexRadioDefault1").checked;
        let field2_check = document.getElementById("flexRadioDefault2").checked;

        if (value_threshold == null) {
            value_threshold = 0.8;
            localStorage.setItem('threshold', 0.8);
            localStorage.setItem('field2', 'true');
        }

        window.onload = (event) => {
            document.querySelector('#customRange1').value = value_threshold;

            field1_check = (localStorage.getItem('field1') === 'true');
            field2_check = (localStorage.getItem('field2') === 'true');

            document.querySelector('#flexRadioDefault1').checked = field1_check;
            document.querySelector('#flexRadioDefault2').checked = field2_check;
        };

        function fieldCheck1(){
            localStorage.setItem('field1', 'true');
            localStorage.setItem('field2', 'false');
        }

        function fieldCheck2(){
            localStorage.setItem('field1', 'false');
            localStorage.setItem('field2', 'true');
        }

        threshold.innerHTML = value_threshold;

        slider.oninput = function () {
            var cur_value = Number(this.value).toFixed(2);
            threshold.innerHTML = cur_value;
            localStorage.setItem('threshold', cur_value);
        }

        let btn_detect = document.getElementById('detectImg');
        let btn_clearImg = document.getElementById('clearImg');

        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
            disBtn();
            document.getElementById('predicted_time').innerHTML = "";

        }

        function disBtn() {
            btn_detect.style.display = "inline";
            btn_clearImg.style.display = "inline";
        }

        function initBtn() {
            btn_detect.style.display = "None";
            btn_clearImg.style.display = "None";
        }

        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }

        initBtn();
    </script>
{% endblock %}